%header.hero{role: "banner"}
  %section.wrap-container
    .gradient
      =partial "partials/nav"
      = image_tag('logo.svg', alt: 'The Whale Games', class: 'center_logo')
      %p.vision
        더웨일게임즈는 세상을 더 재미있게 만든다라는 비전을 가지고 모인 팀입니다
    .detail
      .scroll 
        %p
          scroll
      = image_tag('scroll_icon.png', alt: 'scroll_icon', class: 'scroll')
    .people_dancing
      - current_page.data.members.each do |member|
        = image_tag("members_dance/#{member}.png", alt: member, class: member)
    .pattern
      = image_tag("hammer1.png", alt: 'hammer!', class: 'hammer')
      = image_tag("hammer2.png", class: 'hammer_active')
