%nav.global-nav{role: "navigation"}
  %section.wrap-container
    %header.global-nav-item.logo
      = image_tag("../images/toplogo.png", class: 'banner_logo')
    .global-nav-move
      %ul.global-nav-list
        %li.global-nav-item= "home"
        %li.global-nav-item= "works"
        %li.global-nav-item= "team"
        %li.global-nav-item= "contact"
      .moving_menu
        .slide_menu
          = image_tag("../images/balloon.png", class: 'balloon')
        %a#slide_bar
          = image_tag("../images/slide.png", class: 'bar one')
          = image_tag("../images/slide.png", class: 'bar two')
          = image_tag("../images/slide.png", class: 'bar three')
