%nav.global-nav{role: "navigation"}
  %section.wrap-container
    .global-nav-move
      %ul.global-nav-list
        %li.global-nav-item= "HOME"
        %li.global-nav-item= "WORKS"
        %li.global-nav-item= "TEAM"
        %li.global-nav-item= "CONTACT"
      .balloon_menu
        = image_tag("../images/menu_btn.svg")
